name: 'LSL DEV'
host: 0.0.0.0
port: 7788
players: 128
debug: true
voice: true
#password: ultra-password
announce: false
#token: YOUR_TOKEN
gamemode: Freeroam
website: example.com
language: fr
description: 'LSL'
modules: ['js-module']
resources: ['core','chat', 'freeroam', 'voice','gabz_mrpd','gabz_mrpdloader']
