* {
  padding: 0px;
  margin: 0px;
}
html {
  transition: 2s;
  background: rgba(0, 0, 0, 0.438);
}

#content {
  background-color: #202731;
  border-radius: 30px;
  height: 80px;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-content: center;
}

#content > button {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  border: 3px solid white;
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

#content > button:hover {
  transition: 0.3s;
  border-color: #202731;
  background-color: #da4167;
  cursor: pointer;
}

#content > button:active {
  transition-duration: 0.1s;
  transform: translateY(10px);
}

#content > button > img {
  width: 90%;
  opacity: 0.5;
}
